@model IEnumerable<Natiruts.Models.Mensagem>

@{
    ViewData["Title"] = "Index";
}



<h1>
    <a asp-action="Create">Criar Post</a>
</h1>
@*<div class="container-fluid">
        @foreach (var item in Model)
        {
            <hr>
            <h1>
                @Html.DisplayFor(modelItem => item.Titulo)
            </h1>
            <p>
                @Html.DisplayFor(modelItem => item.Descricao)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                @Html.DisplayFor(modelItem => item.DataMensagem)
            </p>
            <p>
                <a asp-action="Edit" asp-route-id="@item.MensagemId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MensagemId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.MensagemId">Deletar</a>
            </p>
            <hr>
            <div class="row">
                @foreach (var comentario in item.Comentarios)
                {
                    @if (comentario.MensagemId == item.MensagemId)
                    {
                        <div class="col-sm-6">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">@comentario.Titulo</h5>
                                    <p class="card-text">@comentario.Descricao</p>
                                    <span class="blockquote-footer float-left"><h6>Autor:  @comentario.Autor - @comentario.DataComentario</h6></span>
                                </div>
                            </div>
                        </div>
                        <a asp-action="Create" asp-route-id="@item.MensagemId" asp-controller="Comentario" class="btn btn-success float-right">Comentar</a>
                        <a asp-action="Edit" asp-controller="Mensagem" asp-route-id="@item.MensagemId" class="btn btn-primary float-right">Edit</a>
                        <a asp-action="Delete" asp-controller="Mensagem" asp-route-id="@item.MensagemId" class="btn btn-danger float-right">Delete</a>
                    }
                }
            </div>

        }

    </div>*@
@foreach (var item in Model)
{
    <tr>
        <td>
            <h1>@Html.DisplayFor(modelItem => item.Titulo)</h1>
        </td>
        <td>
            <div class="card-body">
                <h5>Descrição:</h5><p> "@Html.DisplayFor(modelItem => item.Descricao)"</p>
                <h5 class="card-title">Comentários</h5>
                <div class="row">
                    @foreach (var comentario in item.Comentarios)
                    {
                        @if (comentario.MensagemId == item.MensagemId)
                        {
                            <div class="col-sm-6">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">@comentario.Titulo</h5>
                                        <p class="card-text">@comentario.Descricao</p>
                                        <span class="blockquote-footer float-left"><h6>Autor:  @comentario.Autor</h6></span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <a asp-action="Create" asp-controller="Comentarios" asp-route-id="@item.MensagemId" class="btn btn-outline-success float-right">Comentar</a>
                <a asp-action="Edit" asp-controller="Mensagems" asp-route-id="@item.MensagemId" class="btn btn-outline-primary ">Editar</a>
                <a asp-action="Delete" asp-controller="Mensagems" asp-route-id="@item.MensagemId" class="btn btn-outline-danger ">Deletar</a>
            </div>
        </td>

    </tr>
}
